Repository tier4/scenario_simulator_v2, pull requests merged in 2022-11, with the labels that each got.

#908 Fix/traffic simulator/horizon
  docs/ReleaseNotes.md
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Labels: improvement

#910 chore(ci): use `autowarefoundation/autoware-github-actions/spell-check`
  .github/workflows/SpellCheck.yaml
Labels: github actions

#913 chore(ci): use autoware-github-actions in SpellChackAll.yaml & fix cspell errors
  .github/workflows/SpellCheck.yaml
  .github/workflows/SpellCheckAll.yaml
  .github/workflows/custom_spell.json
  Dockerfile
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_type.hpp
  openscenario/openscenario_interpreter/src/syntax/catalog_reference.cpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_type.cpp
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/grid.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/occupancy_grid_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/raycaster.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_sensor.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  test_runner/random_test_runner/include/random_test_runner/file_interactions/yaml_test_params_saver.hpp
  test_runner/random_test_runner/src/lanelet_utils.cpp
Labels: github actions

#912 feat: add topic_checker
  common/topic_status_checker/CMakeLists.txt
  common/topic_status_checker/README.md
  common/topic_status_checker/package.xml
  common/topic_status_checker/src/topic_status_checker.cpp
  docs/ReleaseNotes.md
Labels: feature

#921 fix!(topic_status_checker): revert #912
  common/topic_status_checker/CHANGELOG.rst
  common/topic_status_checker/CMakeLists.txt
  common/topic_status_checker/README.md
  common/topic_status_checker/package.xml
  common/topic_status_checker/src/topic_status_checker.cpp
  docs/ReleaseNotes.md
Labels: revert

#915 add on_exit flag to the simulator
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
  test_runner/scenario_test_runner/scenario_test_runner/shutdown_once.py
Labels: wait for regression test
