Repository tier4/scenario_simulator_v2, pull requests merged in 2023-07, with the labels that each got.

#992 fix/longitudinal_distance_fixed
  .github/workflows/Build.yaml
  .github/workflows/BuildAndRun.yaml
  .github/workflows/BuildIsolate.yaml
  simulation/behavior_tree_plugin/src/pedestrian/pedestrian_action_node.cpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/lanelet_pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/data_type/lanelet_pose.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/test/src/test_hdmap_utils.cpp
Labels: wait for regression test

#998 feat(traffic_simulator): ss2/AWSIM connection: ego entity split
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/misc_object_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/traffic_simulator/include/traffic_simulator/vehicle_simulation/vehicle_model/sim_model.hpp
  simulation/traffic_simulator/include/traffic_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc.hpp
  simulation/traffic_simulator/include/traffic_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared.hpp
  simulation/traffic_simulator/include/traffic_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_vel.hpp
  simulation/traffic_simulator/include/traffic_simulator/vehicle_simulation/vehicle_model/sim_model_ideal_steer_acc.hpp
  simulation/traffic_simulator/include/traffic_simulator/vehicle_simulation/vehicle_model/sim_model_ideal_steer_acc_geared.hpp
  simulation/traffic_simulator/include/traffic_simulator/vehicle_simulation/vehicle_model/sim_model_ideal_steer_vel.hpp
  simulation/traffic_simulator/include/traffic_simulator/vehicle_simulation/vehicle_model/sim_model_interface.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/misc_object_entity.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/traffic_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc.cpp
  simulation/traffic_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared.cpp
  simulation/traffic_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_vel.cpp
  simulation/traffic_simulator/src/vehicle_simulation/vehicle_model/sim_model_ideal_steer_acc.cpp
  simulation/traffic_simulator/src/vehicle_simulation/vehicle_model/sim_model_ideal_steer_acc_geared.cpp
  simulation/traffic_simulator/src/vehicle_simulation/vehicle_model/sim_model_ideal_steer_vel.cpp
  simulation/traffic_simulator/src/vehicle_simulation/vehicle_model/sim_model_interface.cpp
Labels: refactor, wait for regression test

#1036 update documentation about scenario editor
  docs/user_guide/scenario_editor/ChangeCoordinate.md
  docs/user_guide/scenario_editor/CreateSimpleScenario.md
  docs/user_guide/scenario_editor/EditExistingScenario.md
  docs/user_guide/scenario_editor/RelativePosition.md
  docs/user_guide/scenario_editor/ScenarioEditorUserGuide.md
  docs/user_guide/scenario_editor/screenshot00.png
  docs/user_guide/scenario_editor/screenshot01.png
  docs/user_guide/scenario_editor/screenshot03.png
  docs/user_guide/scenario_editor/screenshot04.png
  docs/user_guide/scenario_editor/screenshot05.png
  docs/user_guide/scenario_editor/screenshot06.png
  docs/user_guide/scenario_editor/screenshot07.png
  docs/user_guide/scenario_editor/screenshot08.png
  docs/user_guide/scenario_editor/screenshot09.png
  docs/user_guide/scenario_editor/screenshot10.png
  docs/user_guide/scenario_editor/screenshot11.png
  docs/user_guide/scenario_editor/screenshot12.png
  docs/user_guide/scenario_editor/screenshot13.png
  docs/user_guide/scenario_editor/screenshot14.png
  docs/user_guide/scenario_editor/screenshot15.png
  docs/user_guide/scenario_editor/screenshot16.png
  mkdocs.yml
Labels: documentation

#1025 Add a support for START_PLANNER module and a filter for final_distance of RequestCooperateStatusArray
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Labels: wait for regression test

#1044 fix(concealer): recover backward-compatibility for tier4_rtc_msgs
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Labels: backward compatibility, wait for regression test

#1051 update release note
  docs/ReleaseNotes.md
Labels: release note

#1023 Add lidar sensor delay
  docs/developer_guide/ConfiguringPerceptionTopics.md
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/lidar_sensor.hpp
  simulation/simulation_interface/proto/simulation_api_schema.proto
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/helper/helper.cpp
  test_runner/scenario_test_runner/scenario/Property.pointcloudPublishingDelay.yaml
Labels: wait for regression test

#1055 Fix/documentation action
  .github/workflows/BuildAndRun.yaml
  .github/workflows/Documentation.yaml
  .github/workflows/custom_spell.json
  .linelint.yml
  docs/__init__.py
  poetry.lock
  pyproject.toml
Labels: documentation, github actions
