Repository tier4/scenario_simulator_v2, pull requests merged in 2023-12, with the labels that each got.

#1144 Feature/update sim model
  .github/workflows/SimModelUpdateNotification.yaml
  .github/workflows/custom_spell.json
  docs/ReleaseNotes.md
  simulation/simple_sensor_simulator/CMakeLists.txt
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_map_acc_geared.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_vel.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_map_acc_geared.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_vel.cpp
Labels: wait for regression test

#1145 Feature/random scenario
  docs/ReleaseNotes.md
  mock/cpp_mock_scenarios/CMakeLists.txt
  mock/cpp_mock_scenarios/include/cpp_mock_scenarios/catalogs.hpp
  mock/cpp_mock_scenarios/include/cpp_mock_scenarios/cpp_scenario_node.hpp
  mock/cpp_mock_scenarios/launch/mock_test.launch.py
  mock/cpp_mock_scenarios/package.xml
  mock/cpp_mock_scenarios/src/cpp_scenario_node.cpp
  mock/cpp_mock_scenarios/src/random_scenario/CMakeLists.txt
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
  mock/cpp_mock_scenarios/src/random_scenario/random_parameters/random001.yaml
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Labels: wait for regression test

#1033 Feat/condition groups visualization
  docs/ReleaseNotes.md
  docs/image/condition_group.png
  docs/user_guide/VisualizingInternalInformation.md
  openscenario/openscenario_visualization/CMakeLists.txt
  openscenario/openscenario_visualization/include/openscenario_visualization_condition_groups_plugin/jsk_overlay_utils.hpp
  openscenario/openscenario_visualization/include/openscenario_visualization_condition_groups_plugin/openscenario_visualization_condition_groups_plugin.hpp
  openscenario/openscenario_visualization/package.xml
  openscenario/openscenario_visualization/plugins.xml
  openscenario/openscenario_visualization/src/openscenario_visualization_condition_groups_plugin/jsk_overlay_utils.cpp
  openscenario/openscenario_visualization/src/openscenario_visualization_condition_groups_plugin/openscenario_visualization_condition_groups_plugin.cpp
  simulation/traffic_simulator/config/scenario_simulator_v2.rviz
  test_runner/scenario_test_runner/scenario/Visualization.simulation.context.yaml
Labels: wait for regression test

#1149 feat(traffic_simulator): Traffic lights AWSIM sample scenarios, V2I traffic lights topic change
  docs/ReleaseNotes.md
  docs/developer_guide/Communication.md
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  test_runner/scenario_test_runner/scenario/sample_awsim_conventional_traffic_lights.yaml
  test_runner/scenario_test_runner/scenario/sample_awsim_v2i_traffic_lights.yaml
Labels: wait for regression test

#1129 feat(follow_trajectory): add follow waypoint controller
  .github/workflows/custom_spell.json
  simulation/behavior_tree_plugin/src/pedestrian/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_waypoint_controller.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
  simulation/traffic_simulator/src/behavior/follow_waypoint_controller.cpp
  test_runner/scenario_test_runner/scenario/RoutingAction.FollowTrajectoryAction-straight.yaml
Labels: small feature

#1156 Prepare/release 0.9.0
  docs/ReleaseNotes.md
Labels: release note

#1154 Cleanup/add const to hdmap utils
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Labels: cleanup, wait for regression test

#1162 fix linelint error
  docs/user_guide/random_test_runner/QuickStart.md
  docs/user_guide/random_test_runner/Usage.md
  test_runner/random_test_runner/test/CMakeLists.txt
  test_runner/random_test_runner/test/test_utils.hpp
Labels: bug
