Repository tier4/scenario_simulator_v2, pull requests merged in 2023-02, with the labels that each got.

#963 Fix/getting next lanelet
  docs/ReleaseNotes.md
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/test/map/with_road_shoulder/lanelet2_map.osm
  simulation/traffic_simulator/test/src/test_hdmap_utils.cpp
Labels: wait for regression test

#932 Feature/interpreter/alive monitoring
  common/status_monitor/CMakeLists.txt
  common/status_monitor/include/status_monitor/status_monitor.hpp
  common/status_monitor/package.xml
  common/status_monitor/src/status_monitor.cpp
  docs/ReleaseNotes.md
  openscenario/openscenario_interpreter/CMakeLists.txt
  openscenario/openscenario_interpreter/features
  openscenario/openscenario_interpreter/package.xml
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter_node.cpp
  openscenario/openscenario_preprocessor/CMakeLists.txt
  simulation/simulation_interface/package.xml
  simulation/simulation_interface/src/zmq_multi_server.cpp
Labels: feature

#970 Fix python version for documentation generation
  .github/workflows/Documentation.yaml
Labels: documentation, dependency, github actions
