Repository tier4/scenario_simulator_v2, pull requests merged in 2023-10, with the labels that each got.

#1095 Feature/freespace distance condition
  .github/workflows/custom_spell.json
  common/math/geometry/include/geometry/bounding_box.hpp
  common/math/geometry/src/bounding_box.cpp
  docs/developer_guide/OpenSCENARIOSupport.md
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  test_runner/scenario_test_runner/config/workflow_example.yaml
  test_runner/scenario_test_runner/scenario/ByEntityCondition.EntityCondition.DistanceConditionFreespace.yaml
  test_runner/scenario_test_runner/scenario/ByEntityCondition.EntityCondition.RelativeDistanceConditionFreespace.yaml
Labels: feature, wait for regression test

#1019 Feature/fallback spline to line segments
  .github/workflows/Documentation.yaml
  .github/workflows/custom_spell.json
  common/math/geometry/README.md
  common/math/geometry/include/geometry/polygon/line_segment.hpp
  common/math/geometry/include/geometry/spline/catmull_rom_spline.hpp
  common/math/geometry/include/geometry/spline/catmull_rom_spline_interface.hpp
  common/math/geometry/include/geometry/spline/catmull_rom_subspline.hpp
  common/math/geometry/include/geometry/spline/hermite_curve.hpp
  common/math/geometry/src/polygon/line_segment.cpp
  common/math/geometry/src/spline/catmull_rom_spline.cpp
  common/math/geometry/src/spline/catmull_rom_subspline.cpp
  common/math/geometry/src/spline/hermite_curve.cpp
  common/math/geometry/test/CMakeLists.txt
  common/math/geometry/test/test_catmull_rom_spline.cpp
  common/math/geometry/test/test_line_segment.cpp
  docs/package/About.md
  docs/package/geometry/.gitignore
  docs/package/geometry/Doxyfile
  docs/package/geometry/build.sh
  docs/package/geometry/config.json
  simulation/behavior_tree_plugin/src/action_node.cpp
Labels: wait for regression test

#1098 fix document
  docs/developer_guide/SimpleSensorSimulator.md
  docs/developer_guide/ZeroMQ.md
  openscenario/openscenario_interpreter/test/test_syntax.cpp
  test_runner/random_test_runner/launch/random_test.launch.py
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Labels: wait for regression test

#1101 add updateStandStillDuration(step_time) and updateTraveledDistance(st…
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Labels: wait for regression test

#1092 Feature/control rtc auto mode
  docs/ReleaseNotes.md
  docs/developer_guide/Communication.md
  external/concealer/CMakeLists.txt
  external/concealer/include/concealer/autoware.hpp
  external/concealer/include/concealer/autoware_stream.hpp
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/include/concealer/is_package_exists.hpp
  external/concealer/include/concealer/publisher_wrapper.hpp
  external/concealer/include/concealer/service_with_validation.hpp
  external/concealer/include/concealer/subscriber_wrapper.hpp
  external/concealer/include/concealer/utility/service_with_validation.hpp
  external/concealer/include/concealer/visibility.hpp
  external/concealer/package.xml
  external/concealer/src/cooperator.cpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
  external/concealer/src/is_package_exists.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  test_runner/scenario_test_runner/scenario/CustomCommandAction.RequestToCooperateCommandAction@v1.yaml
Labels: wait for regression test

#997 Feature/allow goal modification
  docs/ReleaseNotes.md
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/include/concealer/has_data_member_allow_goal_modification.hpp
  external/concealer/include/concealer/has_data_member_option.hpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
  openscenario/openscenario_interpreter/CMakeLists.txt
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
Labels: feature

#1106 Fix/rtc command action/continuous execution
  docs/ReleaseNotes.md
  external/concealer/include/concealer/service_with_validation.hpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Labels: wait for regression test

#1104 Fix/entities right of way
  simulation/behavior_tree_plugin/src/action_node.cpp
Labels: bug

#1096 Support for de-spawning entity
  docs/ReleaseNotes.md
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/entity/deleted_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/deleted_entity.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  test_runner/scenario_test_runner/scenario/delete.yaml
Labels: wait for regression test
